<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore"
				 path="*"
				 verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet"
					arguments=".\WebApplication1.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>

		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
			</staticTypes>
		</httpCompression>
	</system.webServer>
</configuration>
